html body {
	background-color: #111d29;
}

html body a {
	color: #3792d2 !important;
}

#SIvCob {
	color: #fff !important;
}

#SIvCob a {
	color: #3792d2 !important;
}

.sfbg {
	background-color: #3792d2 !important;
}

#pTwnEc {
	background-color: #111d29;
}

#slim_appbar {
	background-color: #111d29;
}

span {
	color: #fff;
}

.GmE3X {
	color: #3792d2 !important;
}

.RNNXgb {
	background-color: #111d29 !important;
}

.erkvQe {
	background-color: #111d29 !important;
}